/* GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-top: 3.5rem;
  color: #999;
  background-color: #001010;
  /* background-color: #fff; */
  /* line-height: 2.0; */
}

h1 {
  margin-bottom: 2rem;
}
h1.featurette-heading {
  margin-top: 0rem;
}
h1, h2 {
  color: #03a4a7;
}
h2, h3 {
  padding: 2rem 0;
}
h4 {
  padding-top: 1.5rem;
}

ul {
  padding-bottom: 1.5rem;
}

a, a:visited {
  color: #03a4a7;
}
a:hover, span.active {
  color: #669394;
  text-decoration: underline;
}

.scrollspy {
  padding-top: 5rem;
}

hr {
  border-bottom: 1px solid #014c4d;
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.info {
  text-decoration: underline;
}

footer {
  padding: 2rem 0 1rem 0;
}

/* Navigation
------------------------- */
img.logo {
  height: 70px;
}

.bg-dark {
  background-color: #013334 !important;
}
.navbar {
  padding: 0;
}
.navbar-brand {
  padding: 0;
}

.navbar-toggler {
  padding-right: 1rem !important;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 70px; /* Height of navbar */
    bottom: 0;
    width: 110%;
    padding-left: 2.2rem;
    overflow-y: auto;
    background-color: #013334;
    border-top: 1px solid #014c4d;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-list {
  position: static;
  margin-top: 100px;
}

/* Featurettes
------------------------- */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.figure {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.figure-img {
  margin-bottom: 0px;
}

.cities-in-dust {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.cities-in-dust.darker {
  background-color: #1b1b1b;
}
.cities-in-dust.dark {
  background-color: #222;
}

/* Lightbox
------------------------- */
.zoom {
  overflow: hidden;
  position: relative;
  border: 5px solid #999;
}
.img-zoom {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
a img.img-zoom:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* Callout
------------------------- */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #222;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #029799
}

.bd-callout-info h4 {
  color: #029799
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
